In [21]:
import sqlite3
import pandas as pd
import io

In [22]:
with open("database.sql", "r") as file:
    sql_script = file.read()

connection = sqlite3.connect(":memory:")

with connection:
    connection.executescript(sql_script)

In [20]:
query = """
            SELECT * 
            FROM companhia_aerea
        """

df = pd.read_sql_query(query, connection)
df

,id_companhia_aerea,nome_companhia,regra_tarifaria
0,1,LATAM AIRLINES BRASIL,None
1,2,GOL Linhas Aéreas Inteligentes,https://www.voegol.com.br/pt/informacoes/tarifas
2,3,AZUL LINHAS AÉREAS BRASILEIRA,https://www.voeazul.com.br/para-sua-viagem/inf...